*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  background-color: #fff;
  line-height: 1.6; }

a::before,
a::after,
a::visited {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-columns: [full-start] 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem [full-end];
  grid-template-rows: 100vh repeat(7, min-content); }

.section-heading {
  color: #437cf7;
  font-size: 3rem;
  font-weight: 550;
  text-transform: uppercase;
  margin-top: -1.5rem; }

.btn {
  background-color: #df4c73;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 2rem; }
  .btn:hover {
    background-color: #b43d5c; }

.header {
  background-image: linear-gradient(to bottom right, rgba(69, 125, 247, 0.705), rgba(109, 174, 254, 0.705)), url(../images/projects18.jpg);
  background-size: cover;
  background-position: top;
  grid-column: full-start / full-end;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }

.home {
  background-image: linear-gradient(to bottom right, rgba(69, 125, 247, 0.705), rgba(109, 174, 254, 0.705)), url(../images/projects18.jpg); }

.properties {
  background-image: linear-gradient(to bottom right, rgba(69, 125, 247, 0.705), rgba(109, 174, 254, 0.705)), url(../images/properties-bg.jpg);
  background-position: center; }

.nav {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem; }
  .nav__logo {
    width: 3rem;
    height: 3rem; }
  .nav__items {
    color: #fff;
    display: flex; }
  .nav__list {
    font-size: 1.6rem;
    width: 35rem;
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .nav__link a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main-heading {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4); }

.primary-heading {
  display: block;
  font-size: 6rem;
  font-weight: 500;
  word-spacing: 1.5rem; }

.sub-heading {
  font-size: 2rem;
  font-weight: 550;
  color: #fff;
  word-spacing: .2rem; }

.about {
  grid-column: col-start 1 / col-end;
  margin-top: 10rem;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 10rem; }
  .about__img-box {
    height: 30rem;
    background-image: linear-gradient(to bottom right, rgba(69, 125, 247, 0.39), rgba(109, 174, 254, 0.39)), url(../images/projects2.jpg);
    background-size: cover;
    border-radius: .2rem; }
  .about__img {
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    box-shadow: 0 0.3rem 0.4rem 0 rgba(0, 0, 0, 0.2); }
  .about__paragraph {
    color: #666;
    margin-bottom: 2rem; }

.services {
  grid-column: col-start 1 / col-end;
  margin-top: 10rem; }
  .services__container {
    margin: 3rem 0 10rem 0;
    grid-column: col-start 1 / col-end;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem; }
  .services__h2 {
    color: #437cf7;
    margin: 0 auto;
    text-align: center; }
  .services__heading {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
    background-color: #6daffe;
    border-radius: .2rem;
    padding: 0 1rem; }
  .services__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .services__img-box {
    height: 20rem;
    border-radius: .3rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center; }
  .services .img-1 {
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service8.png);
    background-size: cover; }
    .services .img-1:hover {
      background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service8.png);
      background-size: cover;
      transform: translateY(-0.3rem); }
  .services .img-2 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service1.jpg);
    background-size: cover; }
    .services .img-2:hover {
      background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service1.jpg);
      background-size: cover;
      transform: translateY(-0.3rem); }
  .services .img-3 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service5.jpg);
    background-size: cover; }
    .services .img-3:hover {
      background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service5.jpg);
      background-size: cover;
      transform: translateY(-0.3rem); }
  .services .img-4 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service4.jpg);
    background-size: cover; }
    .services .img-4:hover {
      background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service4.jpg);
      background-size: cover;
      transform: translateY(-0.3rem); }
  .services .img-5 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service4.jpg);
    background-size: cover; }
    .services .img-5:hover {
      background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service4.jpg);
      background-size: cover;
      transform: translateY(-0.3rem); }
  .services .img-6 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service3.jpg);
    background-size: cover; }
    .services .img-6:hover {
      background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service3.jpg);
      background-size: cover;
      transform: translateY(-0.3rem); }
  .services .img-7 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service7.jpg);
    background-size: cover; }
    .services .img-7:hover {
      background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service7.jpg);
      background-size: cover;
      transform: translateY(-0.3rem); }
  .services .img-8 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service6.jpg);
    background-size: cover; }
    .services .img-8:hover {
      background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service6.jpg);
      background-size: cover;
      transform: translateY(-0.3rem); }

.work-matters {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projects23.jpg);
  grid-column: full-start / full-end;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem; }

.work {
  font-size: 1.6rem;
  margin: 5rem 0;
  grid-column: col-start 1 / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 15rem; }
  .work__img-box {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 6rem); }
  .work__img-1 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: .2rem;
    grid-column: 1 / span 2;
    grid-row: 4 / span 3; }
  .work__img-2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects17.jpg);
    background-size: cover;
    background-position: center;
    border-radius: .2rem;
    box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.8);
    grid-column: 2 / span 5;
    grid-row: 1 / -1; }
  .work__img-3 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: .2rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.8);
    grid-column: 5 / -1;
    grid-row: 2 / span 3; }
  .work__heading {
    color: #437cf7;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .work__text {
    color: #fff; }

.team {
  grid-column: col-start 1 / col-end; }
  .team__heading {
    text-align: center;
    margin: 10rem 0 3rem 0; }

.staffs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  align-self: center;
  border-radius: .3rem; }

.staff {
  font-size: 1.6rem; }
  .staff__img-box {
    width: 15rem;
    height: 15rem; }
  .staff__img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .staff__name {
    font-size: 2rem;
    font-weight: 550;
    text-transform: uppercase;
    color: #222;
    margin-top: 1rem; }
  .staff__role {
    font-size: 2rem;
    color: #666;
    text-transform: capitalize; }
  .staff__info-box {
    text-align: center;
    border-radius: .2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.social-media {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.social-icon {
  fill: #6daffe;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 2rem;
  transition: all .2s; }
  .social-icon:hover {
    fill: #437cf7; }

.latest-projects {
  grid-column: col-start 1 / col-end;
  margin-top: 10rem; }

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem; }
  .project__box {
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: all .2s; }
    .project__box:hover {
      transform: translateY(-0.2rem); }
  .project__img-box {
    height: 25rem; }
  .project__h2 {
    margin-bottom: 3rem;
    text-align: center; }
  .project__img {
    width: 100%;
    height: 100%; }
  .project__heading {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding: 1.5rem 0;
    background-color: #6daffe;
    margin-top: -.3rem; }
  .project__img-1 {
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects1.jpg);
    background-size: cover; }
  .project__img-2 {
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects2.jpg);
    background-size: cover; }
  .project__img-3 {
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects3.jpg);
    background-size: cover; }
  .project__img-4 {
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects4.jpg);
    background-size: cover; }
  .project__img-5 {
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects5.jpg);
    background-size: cover; }
  .project__img-6 {
    background-image: linear-gradient(to right bottom, rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/projects8.jpg);
    background-size: cover; }

.news {
  grid-column: col-start 1 / col-end;
  margin-top: 10rem; }
  .news__container {
    font-size: 1.6rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 7rem; }
  .news__img-box--1 {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/news1.jpg);
    background-size: cover;
    background-position: center;
    height: 35rem;
    border-radius: .2rem; }
  .news__img-box {
    background-image: linear-gradient(rgba(69, 125, 247, 0.4), rgba(109, 174, 254, 0.4)), url(../images/service7.jpg);
    background-size: cover;
    background-position: center;
    height: 35rem;
    border-radius: .2rem; }
  .news__heading {
    font-size: 2rem;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 1rem; }
  .news__h2 {
    text-align: center; }
  .news__paragraph {
    color: #666;
    margin-bottom: 2rem; }

.testimony {
  grid-column: full-start / full-end;
  margin-top: 10rem;
  background-image: linear-gradient(rgba(69, 125, 247, 0.7), rgba(109, 174, 254, 0.7)), url(../images/happy-family.jpeg);
  background-size: cover;
  background-position: center;
  padding: 15rem 0; }
  .testimony__heading {
    text-align: center;
    color: #fff;
    transform: translateY(-10rem); }
  .testimony__box {
    display: grid;
    grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem;
    grid-gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.reviews {
  width: 50rem;
  margin: rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem; }

.review__name {
  font-size: 2rem;
  font-weight: 250;
  text-transform: capitalize;
  color: #000; }

.review__date {
  color: #111;
  text-transform: capitalize;
  font-style: italic; }

.review__paragraph {
  color: #666;
  position: relative; }

.next {
  margin: 0 .7rem; }

.slide-icon {
  width: 4rem;
  height: 4rem;
  fill: #df4c73; }

.prev-icon {
  width: 7rem;
  height: 7rem;
  fill: #df4c73; }

.star-icon {
  fill: #dda407;
  width: 2rem;
  height: 2rem;
  margin-top: 1.5rem; }

.partners {
  grid-column: full-start / full-end;
  margin: 10rem 0; }
  .partners__list {
    display: grid;
    grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem; }
  .partners__logo {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem;
    padding-top: 5rem; }
    .partners__logo-img {
      justify-self: center; }
  .partners__h2 {
    text-align: center; }

.footer {
  background-color: #0c5386;
  grid-column: full-start / full-end; }
  .footer__box {
    display: grid;
    grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem;
    margin-top: 2rem; }
  .footer__item {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 5rem;
    list-style: none;
    text-align: center; }
  .footer__link {
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff; }
    .footer__link:hover {
      color: #6daffe; }
  .footer__heading {
    text-align: center;
    margin: 5rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #6daffe;
    font-weight: 300;
    word-spacing: .5rem; }

.footer-social-media {
  margin: 0 auto;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-social-media--icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff;
    margin: 3rem 0; }
    .footer-social-media--icon:hover {
      fill: #6daffe; }

.copyright {
  font-size: 1.6rem;
  color: #222;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5rem; }
