.header {
    background-image: linear-gradient(to bottom right, 
        rgba(69, 125, 247, 0.705),
        rgba(109, 174, 254, 0.705)),
        url(../images/projects18.jpg); 
    background-size: cover;
    background-position: top;
    grid-column: full-start / full-end;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

}

.nav{
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;

    &__logo {
        width: 3rem;
        height: 3rem;
    }
    &__items {
        color: $white;
        display: flex;
    }

    &__list {
        font-size: 1.6rem;
        
        width: 35rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__link a{
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        
    }
}

.text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-heading {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 .1rem .2rem  rgba(0,0,0, .4);
}
.primary-heading {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    word-spacing: 1.5rem;
}
.sub-heading {
    font-size: 2rem;
    font-weight: 550;
    color: $white;
    word-spacing: .2rem;

}