.header {
    background-size: cover;
    background-position: top;
    grid-column: full-start / full-end;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.home  {
    background-image: linear-gradient(to bottom right, 
    rgba(69, 125, 247, 0.705),
    rgba(109, 174, 254, 0.705)),
    url(../images/projects17.jpg); 
}

.properties {
    background-image: linear-gradient(to bottom right, 
    rgba(69, 125, 247, 0.705),
    rgba(109, 174, 254, 0.705)),
    url(../images/properties-bg.jpg); 
    background-position: center;
}

.contacts-bk {
    background-image: linear-gradient(to bottom right, 
    rgba(69, 125, 247, 0.705),
    rgba(109, 174, 254, 0.705)),
    url(../images/projects18.jpg); 
    background-position: center;
}

.news-bk {
    background-image: linear-gradient(to bottom right, 
    rgba(69, 125, 247, 0.705),
    rgba(109, 174, 254, 0.705)),
    url(../images/projects3.jpg); 
    background-position: center;
}

.nav{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: relative;

    @include respond (tab-land) {
        padding: 0 3rem;
    }

    &__logo {
        width: 7rem;
        height: 7rem;

        @include respond(tab-port) {
            z-index: 11;
        }
    }

    &__items {
        color: $white;
        display: flex;
        @include respond (tab-port) {
            
        }
    }

    &__list {
        font-size: 1.6rem;
        width: 35rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
        


        @include respond (tab-port) {
            flex-direction: column;
            text-align: center;
            justify-content: space-evenly;
           
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;   
            margin-top: -100vh;  
            transition: all .4s ;
            z-index: 10;
        }

    }

    &__link a{
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        
    }
}


.show {
    height: 40rem;
    background-color: $secondary-color;
    margin-top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    
}

.lines {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    display: none;

    @include respond (tab-port) {
        display: block;
    }

    & > * {
        background-color: #fff;
        width: 3rem;
        height: .5rem;
        margin-bottom: .6rem;
    }
}

.logo-img {
    width: 100%;
    height: 100%;
}

.text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;

    @include respond(phone) {    
        top: 30%;
        left: 50%;
        position: fixed;
    }
}
.main-heading {
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 .1rem .2rem  rgba(0,0,0, .6);
}
.primary-heading {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    word-spacing: 1.5rem;
}
.sub-heading {
    font-size: 2.2rem;
    font-weight: 550;
    word-spacing: .2rem;

}