.projects {
    grid-column: col-start 1 / col-end;
    margin: 10rem 0;

    &__h2 {
        text-align: center;
       
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 3rem;

        margin-top: 3rem;
    }

}

.project {
    background-color: $secondary-color;
    border-radius: .2rem;

    &__info {
        padding: 1rem;
       
    }

    &__location {
        font-size: 1.6rem;
        display: flex;
        color: $white;
        text-transform: capitalize;
    }

    &__img-box {
        height: 24rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: .2rem;
    }


    &__icons {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        padding: 0 2rem;
    }
    
    &__icon {
        fill: $white;
        width: 3rem;
        height: 3rem;
        transform: translateX(-1rem);
    }

}

