.testimony {  
    grid-column: full-start / full-end;
    margin-top: 10rem;
    background-image: linear-gradient(
        rgba(69, 125, 247, 0.7),
        rgba(109, 174, 254, 0.7)),
    url(../images/happy-family.jpeg);
    background-size: cover;
    background-position: center;
    padding: 15rem 0;
    

    &__heading {
        text-align: center;
        color: $white;
        transform: translateY(-10rem);
    }

    &__box{   
        display: grid;
        grid-template-columns: 5rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr 5rem;
        grid-gap: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        
    }

}

.reviews {
    width: 50rem;
    margin: rem ;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: .3rem;
    box-shadow: 0 .1rem .4rem rgba(0,0,0, .3);
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem;

}

.review {

    &__name {
        font-size: 2rem;
        font-weight: 250;
        text-transform: capitalize;
        color: #000;
    }

    &__date {
        color: #111;
        text-transform: capitalize;
        font-style: italic;
    }

    &__paragraph {
        color: $light-black;
        position: relative;
    }
}


.slide-icon {
    width: 7rem;
    height: 7rem;
    fill: $color-pink;
}


.star-icon {
    fill: #dda407;
    width: 2rem;   
    height: 2rem;
    margin-top: 1.5rem;
}